/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/mobile-widget/src/master/LICENSE)
 */

$line-break: 450px;
$white: #fff;
$black: #000;
$bildred: rgb(220, 2, 1);

$left: 15px;
$right: 15px;

// reset User Agent Style Sheets
* {
  margin: 0;
  padding: 0;
}

#mobile-container {
  height: 328px;
  position: relative;

  #loading {
    width: 18px;
    height: 18px;
    z-index: 1000;
    background: url('/images/loader.gif') no-repeat top left;
    position: absolute;
  }

  .sprite {
    background: url('/images/sprite.png') no-repeat top left;
    &.small_app-store_retina {
      background-position: 0px 0px;
      width: 140px;
      height: 48px;
    }
    &.small_app-store {
      background-position: 0px -58px;
      width: 70px;
      height: 24px;
    }
    &.btn_next {
      display: none;
      background-position: 0px -92px;
      width: 22px;
      height: 36px;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    &.btn_prev {
      display: none;
      background-position: 0px -138px;
      width: 22px;
      height: 36px;
    }
    &.sprite.bild_custom_marker {
      background-position: 0px -184px;
      width: 25px;
      height: 26px;
    }
    &.sprite.bild_custom_marker_inactive {
      background-position: 0px -220px;
      width: 25px;
      height: 26px;
    }
  }

  #map-wrapper {
    position: absolute;
    z-index: 100;
    top: 53px;
    bottom: 0;
    width: 100%;
    #map {
      width: 100%;
      height: 100%;
    }
    #map-disabler {
      width: 100%;
      height: 100%;
      z-index: 101;
      top: 0;
      position: absolute;
    }
  }

  .bm-controller {
    position: absolute;
    z-index: 500;
    bottom: 43%;
    display: none;

    &:hover {
      cursor: pointer;
    }

    &.left {
      left: $left;
    }
    &.right {
      right: $right;
    }
  }

  #header-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    #bm-header {
      background-color: $bildred;
      color: $white;
      position: relative;
      margin: 5px 5px;
      z-index: 500;
      padding: 6px;
      min-height: 17px;

      h1, a {
        color: $white;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 17px;
        font-size: 16px;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
      }
    }

    #footer-wrapper {
      background-color: $white;
      z-index: 100;
      position: relative;
      left: 0;
      right: 0;
      #bm-footer {
        display: block;
        height: 50px;
        background-color: $white;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;

        .wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          .add-line {
            float: left;
            width: 70%;
            display: table;
            height: 100%;
            //font-weight: bold;

            @media (max-width: $line-break) {
              top: 4px;
            }

            p {
              font-size: 16px;
              line-height: 17px;
              color: $black;
              display: table-cell;
              vertical-align: middle;

              .highlight {
                color: $bildred;
                font-size: 17px;
                margin-top: 7px;
              }
              // Handle 2 Line Linebreak
              @media (max-width: $line-break) {
                margin-top: 4px;

                font-size: 12px;
                &.highlight {
                  margin-top: 3px;
                  font-size: 13px;
                }
              }
            }
          }
          .app-store {
            max-width: 30%;
            float: right;

            #available-picture {
              position: absolute;
              background-size: 100%;
              height: 24px;
              width: 70px;
              top: 25%;
              right: 0;
            }
          }
        }
      }
    }
  }

  #fader {
    display: none;
    z-index: 100;
    position: relative;
    text-align: center;
    top: 43%;
    span {
      padding: 10px;
      background-color: rgba(255, 255, 255, .9);
      border-radius: 5px
    }
  }

  #article-preview {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 93%;
    max-width: 400px;
    min-height: 53px;
    margin: 0 auto;
    z-index: 100;
    bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px 6px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(136, 136, 136, 0.3);
    & {
      color: #000000;
    }

    // responsive cropping of the image and vertical centering of the image
    #article-preview-img-wrapper {
      width: 26%;
      text-align: center;
      overflow: hidden;
      float: left;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);

      img {
        max-height: 53px;
        position: relative; /* allows repositioning */
        left: 100%; /* move the whole width of the image to the right */
        margin-left: -200%; /* magic! */
      }
    }
    #article-preview-wrapper {
      float: right;
      width: 70%;
      font-size: medium;

      @media (max-width: $line-break) {
        font-size: small;
      }
      #article-preview-title {
        font-size: 10px;
        font-weight: 700;
        line-height: 16px;
        color: $bildred;
      }
    }
  }
}

