/*
 * Copyright 2014 Dropspot GmbH
 * Licensed under MIT
 * (https://bitbucket.org/dropspot/mobile-widget/src/master/LICENSE)
 */

$line-break: 500px;
$white: #fff;
$black: #000;
$tsred: #C40000;

$left: 15px;
$right: 15px;

// reset User Agent Style Sheets
* {
  margin: 0;
  padding: 0;
}

#mobile-container {
  height: 328px;
  position: relative;

  #loading {
    width: 18px;
    height: 18px;
    z-index: 1000;
    background: url('/images/loader.gif') no-repeat top left;
    position: absolute;
  }

  .sprite {
    background: url('/images/sprite.png') no-repeat top left;
    &.small_app-store_retina {
      background-position: 0px 0px;
      width: 140px;
      height: 48px;
    }
    &.small_app-store {
      background-position: 0px -58px;
      width: 70px;
      height: 24px;
    }
    &.btn_next {
      display: none;
      background-position: 0px -92px;
      width: 22px;
      height: 36px;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    &.btn_prev {
      display: none;
      background-position: 0px -138px;
      width: 22px;
      height: 36px;
    }
    &.sprite.bild_custom_marker {
      background-position: 0px -184px;
      width: 25px;
      height: 26px;
    }
    &.sprite.bild_custom_marker_inactive {
      background-position: 0px -220px;
      width: 25px;
      height: 26px;
    }
  }

  #ts-radar-icon {
    max-width: 10%;
    float: left;
    width: 40px;
    height: 40px;
    background: url('/images/ts_radar.png') no-repeat top left;
    margin: 5px 0px 0px 10px;
  }

  #map-wrapper {
    position: absolute;
    z-index: 100;
    top: 53px;
    bottom: 0;
    width: 100%;
    #map {
      width: 100%;
      height: 100%;
    }
    #map-disabler {
      width: 100%;
      height: 100%;
      z-index: 101;
      top: 0;
      position: absolute;
    }
  }

  .bm-controller {
    position: absolute;
    z-index: 500;
    bottom: 7%;

    &:hover {
      cursor: pointer;
    }

    &.left {
      left: $left;
    }
    &.right {
      right: $right;
    }
  }

  #header-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    #bm-header {
      background-color: $tsred;
      color: $white;
      position: relative;
      margin: 10px $left;
      z-index: 500;
      padding: 10px;
      min-height: 17px;

      h1, a {
        color: $white;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: Georgia;
        font-weight: bold;
        line-height: 20px;
        font-size: 15px;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
      }
    }

    #footer-wrapper {
      background-color: $white;
      z-index: 100;
      position: relative;
      left: 0;
      right: 0;
      #bm-footer {
        display: block;
        height: 50px;
        background-color: $white;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;

        .wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          .add-line {
            font-family: Georgia;
            float: left;
            width: 67%;
            display: table;
            height: 100%;
            margin-left: 10px;
            //font-weight: bold;

            @media (max-width: $line-break) {
              top: 4px;
              width: 55%;
            }

            p {
              font-size: 16px;
              line-height: 21px;
              font-family: Georgia;
              color: $black;
              display: table-cell;
              vertical-align: middle;

              .highlight {
                color: $tsred;
                font-size: 17px;
                font-family: Georgia;
                margin-top: 7px;
              }
              // Handle 2 Line Linebreak
              @media (max-width: $line-break) {
                margin-top: 4px;

                font-size: 12px;
                &.highlight {
                  margin-top: 3px;
                  font-size: 13px;
                }
              }
            }
          }
          .app-store {
            max-width: 20%;
            float: right;

            #available-picture {
              position: absolute;
              background-size: 100%;
              height: 41px;
              width: 122px;
              top: 10%;
              right: 10px;
            }
          }
        }
      }
    }
  }

  #fader {
    display: none;
    z-index: 100;
    position: relative;
    text-align: center;
    top: 43%;
    span {
      font-family: Georgia;
      padding: 10px;
      background-color: rgba(255, 255, 255, .9);
      border-radius: 5px
    }
  }

  #btn-right-hint {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 10%;
    right: 43px;
    cursor: pointer;
    cursor: hand;
    span {
      font-family: Georgia;
      padding: 10px;
      background-color: rgba(255, 255, 255, .9);
      border-radius: 5px
    }
  }
}

